@import "_colors.less";
.reg(){
	font-family: 'ProximaNovaRegular', sans-serif;
}
.bold(){
	font-family: 'ProximaNovaBold', sans-serif;
}
.ebold(){
	font-family: 'ProximaNovaExtrabld', sans-serif;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
	html{
    	width: 100%;
    	max-width: 100%;
    	overflow-x: hidden;
	}
  	body{
   		width: 100%;
    	max-width: 100%;
    	overflow-x: hidden;
 	}
	h1{
		font-size: 3.4rem;
		margin: 1rem 0;
	}
	.scroll-menu-top-btn{
		display: block;
	}
	#top-menu-2{
		display: none;
	}
	.main{
		padding-top: 2rem;
		&-top{
			&-right{
				margin: 1rem auto;
			}
		}
		&-nav{
			display: none;
			flex-direction: column;
			line-height: 2;
			&-active{
				display: flex;
			}
		}
	}
	.section-2{
		&-garan{
			display: none;
		}
	}
	.questions-hidden{
		display: none;
	}
	.section-9-btn{
		margin-top: 4rem;
	}
	footer{
		text-align: center;
	}
	.footer-logo{
		&-img{
			float: none;
		}
		&-cont{
			border: none;
			float: none;
			margin: 0;
			padding: 0;
		}
	}
	.call p{
		text-align: center;
	}
	.mail p{
		text-align: center;
	}
	.main-top-logo{
		&-img{
			float: none;
			text-align: center;
		}
		&-cont{
			float: none;
			border: none;
			padding: 0;
			margin: 0;
			text-align: center;
		}
	}
	// .slider-block{
	// 	padding: 2rem;
	// 	&-white{
	// 		padding: 3rem;
	// 		border-radius: 2rem;
	// 	}
	// }
	.nav-s3{
		display: block;
		text-align: left;
		li{
			padding: 0;
			text-align: center;
			a{
				font-size: 3.8rem;
			}
		}
	}
	.menu-s3-wrap{
		&-arround{
		transform: translateX(9%) translateY(-10%);
		}
		a{
			margin-bottom: 1rem;
		}
		h2{
			span{
				font-size: 7rem;
			}
		}
	}
	.section-4-banner{
		margin-bottom: 1rem;
		width:100%;
	}
	.pup-up-wrap{
		margin-top: 1rem;
	}
	.card-right h3{
		margin-top: 1rem;
	}
	.section-6{
		width:100%;
		h2{
			margin-bottom: 0;
		}
		&-poloska{
			margin: 0 auto;
		}
	}
	.klining-left h3{
		font-size: 3rem;
	}
	.questions-card{
		min-height:20rem;
	}
	.section-9-btn {
		margin: 0 auto;
		margin-top: 4rem;
	}
	// .slider-block{
	// 	background-repeat: no-repeat;
	// 	background: center center;
	// 	min-height: 30rem;
	// }
	// .slider-block-white{
	// 	//background-color: rgba(0,0,0,0);
	// 	padding: 2rem;
	// 	span{
	// 		//transform: translateX(-48%) translateY(-49%);
	// 		position: relative;
	// 		font-size: 2rem;
	// 	}
	// 	strong{
	// 		margin-top: 2rem;
	// 		font-size: 2rem;
	// 	}
	// 	p{
	// 		display: none;
	// 	}
	// }
	.scroll-menu-btn{
		display: none;
	}
	.scroll-menu{
		padding: 0;
		background-color: rgba(0,0,0,0); 
	}
	.btn-scroll{
		display: block;
	}
	.klining-right{
		display: none;
	}
	.calc-card-6-label{
		text-align: center;
	}
	// .calc-card-6-label label{
	// 	text-align: center;
	// 	margin: auto;
	// }
	// .calc-card-6-label{
	// 	display: block;
	// }
	// .calc-card-6-label-wrap{
	// 	margin-left: 1 rem;
	// 	text-align: center;
	// }
	.section-6 h2{
		font-size: 3.5rem;
		margin: 0;
	}
	.section-4-h2{
		font-size: 3rem;
	}
	.card-right-wrap a{
		font-size: 1.5rem;
		padding: 2rem 3rem;
	}
	.menu-s3-wrap-arround{
		display: none;
	}
	// .db-btn{
	// 	&-left{
	// 		display: none;
	// 	}
	// 	&-right{
	// 		display: none;
	// 	}
	// }
	.calc-right-wrap-2{
		display: none;
	}
	.mobile-hidden{
		display: none;
	}
	.slick-btn-next{
   	 	right: -2rem;
	}
	.slick-btn-prev{
    	left: -2rem;
	}
	.slider-block{
		padding: 2rem;
		background-color: @white;
		border-radius: 2rem;
		box-shadow: 2px 1px 11px -1px #000000;
		margin: 1rem;
		width:100%;
		min-height: 30rem;
		img{
			width:100%;
			border-radius: 1rem;
		}
		h4{
			margin: 1rem 0;
		}
		strong{
			.ebold();
			font-size: 1.5rem;
			color: @orange;
		}
		span{
			color:#AFAFAF;
			position: relative;
			font-size: 1.6rem;
			margin-left: 1rem;
			&:before{
				content: '';
    			width: 100%;
    			height: 1px;
    			background: #333;
    			position: absolute;
    			top: 50%;
    			left: 0;
    			display: block;
			}
		}
		p{
			font-size: 15px;
    		line-height: 1.5;
		}
	}
	.db-btn-left{
		width: 100%;
		display: block;
    	padding: 1.5rem 2rem;
    	margin: 1 auto;
	}
	.db-btn-right{
		width: 100%;
		display: block;
		padding: 1.5rem 2rem;
		margin: 1 auto;
		margin-top: 2rem;
	}
 }

// // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
	html{
    	width: 100%;
    	max-width: 100%;
    	overflow-x: hidden;
	}
  	body{
   		width: 100%;
    	max-width: 100%;
    	overflow-x: hidden;
 	}
	h1{
		font-size: 3.4rem;
		margin: 1rem 0;
	}
	.scroll-menu-top-btn{
		display: block;
	}
	.main{
		padding-top: 2rem;
	}
	.main-nav{
		display: block;
		text-align: center;
		li{
			margin: 0;
			margin-bottom: 0.5rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.main-top{
		&-logo-cont{
			float: none;
			margin-left: 10rem;
		}
		&-right{
			//margin-top: 2rem;	
			margin: 1rem 0;		
			&-wrap{
				margin: 0 12rem;
			}
		}
	}
	.slider-block{
		padding: 2rem;
		height:100%;
		&-white{
			padding: 3rem;
			border-radius: 2rem;
		}
	}
	.section-2{
		&-garan{
			display: none;
		}
	}
	.sec-3-card-h2{
		text-align: left;
	}
	.menu-s3-wrap h2 span{
		font-size: 11rem;
	}
	.section-3{
		&-h2{
			text-align: center;
		}
	}
	.nav-s3{
		display: block;
		text-align: left;
		li{
			padding: 0;
			text-align: center;
			a{
				font-size: 3.8rem;
			}
		}
	}
	.menu-s3-wrap img{
		margin-top: 2rem;
	}
	.menu-s3-wrap-arround{
		transform: translateX(12%) translateY(-35%);
	}
	.section-6 h2{
		margin: 1rem;
	}
	.section-6-poloska{
		display: none;
	}
	.section-6-circles{
		margin-top: 1rem;
	}
	.section-6-circle{
		margin-left: 7rem;
	}
	.section-6-circle-first {
    	margin-left: 0;
	}
	.circle-poloska{
		width: 80%;
	}
	.section-4-banner{
		margin-bottom: 1rem;
	}
	.pup-up-wrap{
		margin-top: 1rem;
	}
	.pup-up-footer-right{
		margin-left: 0;
	}
	.section-6-poloska{
		margin: 1rem auto;
	}
	.section-6 h2{
		margin-bottom: 0;
	}
	.calc-btn-center,
	.calc-btn-left,
	.calc-btn-right{
		font-size: 1.6rem;
	}
	.calc-right{
		margin-top: 2rem;
	}
	.klining-left h3{
		font-size: 3rem;
	}
	.scroll-menu-btn{
		margin-bottom: 2rem;
	}
	.section-6-circle-wrap{
		text-align: left;
	}
	.section-9-btn{
		margin-top: 4rem;
	}
	.questions h2{
		margin-bottom: 1rem;
	}
	.questions-hidden{
		display: none;
	}
	.call p{
		text-align: center;
	}
	.mail p{
		text-align: center;
	}
	footer{
		text-align: center;
	}
	.footer-logo{
		&-img{
			float: none;
		}
		&-cont{
			border: none;
			float: none;
			margin: 0;
			padding: 0;
		}
	}
	.scroll-menu{
		display: none;
		background-color: rgba(0,0,0,0,1);
		z-index: -3;
		&-btn{
			display: none;
		}
	}
	#top-menu{
		display: none;
	}
	.main-top-logo{
		&-img{
			float: none;
			text-align: center;
		}
		&-cont{
			float: none;
			border: none;
			padding: 0;
			margin: 0;
			text-align: center;
		}
	}
	.scroll-menu-h2{
		display: none;
	}
	// .mobile-hidden-off{
	// 	display: none;
	// }
	.mobile-hidden{
		display: none;
	}
	.slick-btn-next{
   	 	right: -3rem;
	}
	.slick-btn-prev{
    	left: -3rem;
	}
	.slider-block{
		padding: 2rem;
		background-color: @white;
		border-radius: 2rem;
		box-shadow: 2px 1px 11px -1px #000000;
		margin: 1rem;
		width:100%;
		min-height: 30rem;
		img{
			width:100%;
			border-radius: 1rem;
		}
		h4{
			margin: 1rem 0;
		}
		strong{
			.ebold();
			font-size: 1.5rem;
			color: @orange;
		}
		span{
			color:#AFAFAF;
			position: relative;
			font-size: 1.6rem;
			margin-left: 1rem;
			&:before{
				content: '';
    			width: 100%;
    			height: 1px;
    			background: #333;
    			position: absolute;
    			top: 50%;
    			left: 0;
    			display: block;
			}
		}
		p{
			font-size: 15px;
    		line-height: 1.5;
		}
	}
	.db-btn-left{
		width: 100%;
		display: block;
    	padding: 1.5rem 2rem;
    	margin: 1 auto;
	}
	.db-btn-right{
		width: 100%;
		display: block;
		padding: 1.5rem 2rem;
		margin: 1 auto;
		margin-top: 2rem;
	}
	.klining-right{
		margin-top: 2rem;
	}
 }

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){ 
	h1{
		font-size: 4.4rem;
	}
	.menu{
		margin-top: 2rem;
	}
	.section-2{
		&-garan{
			transform: translateX(-10%) translateY(-32%);
		}
	}
	.menu-s3-wrap{
		&-arround{
			display: none;
		}
		h2{
			margin-bottom: 0;
			span{
				font-size: 10rem;
			}
		}
		p{
			margin-bottom: 1rem;	
		}
		a{
			margin-top: 1rem;
		}
	}
	.circle-poloska{
		width: 90%;
	}
	.card{
		&-right{
			p{
				font-size: 1.8rem;
			}
		}
	}
	.card-right-wrap a{
		font-size: 2rem;
		letter-spacing: 0; 
		padding:1.5rem 0.8rem;
		display: block;
		width: 100%;
	}
	.section-6{
		h2{
			margin-top: 1rem;
			margin-bottom: 2rem;
		}
	}
	.calc-card-6-label label{
		text-align: center;
	}
	.calc-card-6-label{
		display: block;
	}
	.calc-card-6-label-wrap{
		margin-left: 0;
		text-align: center;
	}
	.calc-btn-left{
		margin: 1rem auto
	}
	.calc-btn-right{
		margin: 0 auto;
	}
	.calc-btn-center{
		margin: 1rem auto;
	}
	.calc-right p{
		font-size: 7.5rem;
	}
	.scroll-menu-btn{
		margin-bottom: 2rem;
	}
	.klining-left h3{
		font-size: 3rem;
	}
	.questions-hidden{
		display: none;
	}
	.questions-mobile{
		margin-bottom: 4rem;
	}
	.scroll-menu-h2{
		display: none;
	}
	.mobile-hidden-off{
		display: none;
	}
	.scroll-menu-top-btn{
		display: none;
	}
	.scroll-menu-btn{
		display: none;
	}
 }

// // Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
	h1{
		font-size: 5.4rem;
	}
	.section-2{
		&-garan{
			transform: translateX(80%) translateY(-32%);
		}
	}
	.menu-s3-wrap-arround{
		transform: translateX(10%) translateY(-40%);
	}
	.menu-s3-wrap img{
    	height: 54.5rem;
	}
	.section-6 h2{
		margin-bottom: 1rem;
	}
	.circle-poloska{
		width: 72%;
	}
	.klining-right img{
    	height: 50.4rem;
	}
	.calc-btn-left{
		margin: 1rem auto
	}
	.calc-btn-right{
		margin: 0 auto;
	}
	.calc-btn-center{
		margin: 1rem auto;
	}

	.questions-mobile{
		display: none;
	}
	.scroll-menu-h2{
		display: none;
	}
	.mobile-hidden-off{
		display: none;
	}
	.scroll-menu-top-btn{
		display: none;
	}
}

 // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.questions-mobile{
		display: none;
	}
	.scroll-menu-h2{
		display: none;
	}
	.mobile-hidden-off{
		display: none;
	}
	.scroll-menu-top-btn{
		display: none;
	}
 }