@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 4.1rem;
  }
  .main-top-right {
    margin-top: 2rem;
  }
  .section-2-garan {
    display: none;
  }
  .nav-s3 {
    display: block;
    text-align: left;
  }
  .nav-s3 li {
    padding: 0;
    text-align: center;
  }
  .nav-s3 li a {
    font-size: 3.8rem;
  }
  .menu-s3-wrap img {
    margin-top: 2rem;
  }
  .menu-s3-wrap-arround {
    -webkit-transform: translateX(12%) translateY(-35%);
    -ms-transform: translateX(12%) translateY(-35%);
    transform: translateX(12%) translateY(-35%);
  }
  .section-6-circles {
    margin-top: 1rem;
  }
  .section-6-circle {
    margin-left: 7rem;
  }
  .section-6-circle-first {
    margin-left: 0;
  }
  .circle-poloska {
    width: 80%;
  }
  .section-4-banner {
    margin-bottom: 1rem;
  }
  .pup-up-wrap {
    margin-top: 1rem;
  }
  .pup-up-footer-right {
    margin-left: 0;
  }
  .section-6-poloska {
    margin: 1rem auto;
  }
  .section-6 h2 {
    margin-bottom: 0;
  }
  .calc-btn-center,
  .calc-btn-left,
  .calc-btn-right {
    font-size: 1.6rem;
  }
  .calc-right {
    margin-top: 2rem;
  }
  .klining-left h3 {
    font-size: 3rem;
  }
  .scroll-menu-btn {
    margin-bottom: 2rem;
  }
  .section-6-circle-wrap {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 4.4rem;
  }
  .section-2-garan {
    -webkit-transform: translateX(-10%) translateY(-32%);
    -ms-transform: translateX(-10%) translateY(-32%);
    transform: translateX(-10%) translateY(-32%);
  }
  .menu-s3-wrap-arround {
    display: none;
  }
  .circle-poloska {
    width: 90%;
  }
  .card-right p {
    font-size: 1.8rem;
  }
  .card-right-wrap a {
    font-size: 2rem;
  }
  .calc-card-6-label {
    display: block;
  }
  .calc-card-6-label-wrap {
    margin-left: 0;
  }
  .calc-btn-left {
    margin: 1rem auto;
  }
  .calc-btn-right {
    margin: 0 auto;
  }
  .calc-btn-center {
    margin: 1rem auto;
  }
  .calc-right p {
    font-size: 7.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 5.4rem;
  }
  .section-2-garan {
    -webkit-transform: translateX(80%) translateY(-32%);
    -ms-transform: translateX(80%) translateY(-32%);
    transform: translateX(80%) translateY(-32%);
  }
  .menu-s3-wrap-arround {
    -webkit-transform: translateX(10%) translateY(-40%);
    -ms-transform: translateX(10%) translateY(-40%);
    transform: translateX(10%) translateY(-40%);
  }
  .menu-s3-wrap img {
    height: 54.5rem;
  }
  .circle-poloska {
    width: 72%;
  }
  .klining-right img {
    height: 50.4rem;
  }
  .calc-btn-left {
    margin: 1rem auto;
  }
  .calc-btn-right {
    margin: 0 auto;
  }
  .calc-btn-center {
    margin: 1rem auto;
  }
}
