/* Social */
.slick-active {
  outline: none !important;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
}
.slick-btn-next {
  top: 50%;
  right: -3rem;
  position: absolute;
}
.slick-btn-prev {
  top: 50%;
  left: -3rem;
  position: absolute;
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
h1 {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  color: #fff;
  background-color: rgba(75, 73, 84, 0.7);
  padding: 1rem 2rem;
  font-size: 6.4rem;
}
h1 span {
  color: #ff9f4a;
  border-bottom: 1px solid #ff9f4a;
}
h2 {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 4.8rem;
  color: #2a2a2a;
}
h3 {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 1.6rem;
}
h4 {
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #2a2a2a;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
}
a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.auto-img {
  width: auto;
  height: auto;
}
.btn {
  border: 1px solid #ff9f4a;
  border-radius: 1rem;
  text-align: center;
  padding: 1.5rem 8rem;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #fff;
  font-family: 'ProximaNovaBold', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe9849), to(#cb3358));
  background: -webkit-linear-gradient(top, #fe9849 0%, #cb3358 100%);
  background: -o-linear-gradient(top, #fe9849 0%, #cb3358 100%);
  background: linear-gradient(to bottom, #fe9849 0%, #cb3358 100%);
}
.btn-top {
  margin-top: 2rem;
}
.btn-top span {
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
}
.main-top-logo-img {
  float: left;
}
.main-top-logo-cont {
  font-family: 'ProximaNovaBold', sans-serif;
  line-height: 1.3;
  float: right;
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 1px solid #ff9f4a;
}
.main-top-logo-cont p {
  margin: 0;
  font-size: 3rem;
}
.main-top-logo-cont p span {
  text-transform: uppercase;
}
.main-top-logo-cont small {
  font-size: 1.5rem;
}
.main {
  background: url(../img/heads2.png) center center no-repeat;
  background-size: cover;
  height: 698px;
  color: #fff;
  padding-top: 5.2rem;
  left: 0;
  right: 0;
}
.main-top-right {
  text-align: center;
  background-color: rgba(75, 73, 84, 0.7);
  padding: 1rem 1rem 2rem 1rem;
}
.main-top-right-tel {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 2.8rem;
  margin: 0;
}
.main-top-right-work {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 2rem;
}
.main-top-right-btn {
  text-transform: uppercase;
  background-color: #7d3629;
  font-size: 1.8rem;
  font-family: 'ProximaNovaBold', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.9rem 2rem;
}
.main-top-right-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-top-right-btn:visited {
  color: #fff;
}
.main-top-right-btn:active {
  color: #fff;
}
.main-nav {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(75, 73, 84, 0.7);
  padding: 1rem;
}
.main-nav li {
  margin-right: 3rem;
}
.main-nav li:last-child {
  margin-right: 0;
}
.main-nav li a {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  font-family: 'ProximaNovaBold', sans-serif;
}
.main-nav li a:hover {
  color: #ff9f4a;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.scroll-menu {
  position: fixed;
  z-index: 1000;
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #402D2F;
  padding: 1rem;
}
.scroll-menu ul {
  background-color: #402D2F;
}
.scroll-menu-btn {
  text-align: center;
}
.scroll-menu-btn a {
  text-transform: uppercase;
  border: 1px solid #ff9f4a;
  font-size: 1.4rem;
  font-family: 'ProximaNovaBold', sans-serif;
  padding: 1rem;
  margin: auto;
  text-align: center;
}
.scroll-menu-btn a:hover {
  cursor: pointer;
}
.section-2 {
  text-align: left;
  padding: 0;
}
.section-2-h2 {
  padding: 0;
  margin-bottom: 1rem;
}
.section-2-garan {
  position: absolute;
  -webkit-transform: translateX(168%) translateY(-32%);
  -ms-transform: translateX(168%) translateY(-32%);
  transform: translateX(168%) translateY(-32%);
}
.section-2-poloska {
  width: 6rem;
  background: #cb3258;
  height: 5px;
}
.section-2 h3 {
  margin-top: 3rem;
}
.slider-block {
  margin-top: 1rem;
  height: 100%;
  padding: 3rem 0 3rem 3rem;
  background-repeat: no-repeat;
}
.slider-block-white {
  max-width: 55.5rem;
  background-color: #fff;
  padding: 4rem 5rem;
}
.slider-block-white h4 {
  margin: 0;
}
.slider-block-white p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-weight: 300;
}
.slider-block-white strong {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  color: #2a2a2a;
  font-size: 4.4rem;
}
.slider-block-white strong sup {
  font-size: 2rem;
}
.slider-block-white span {
  text-decoration: line-through;
  font-size: 2.4rem;
  position: absolute;
  color: #333;
  -webkit-transform: translateX(10%) translateY(-62%);
  -ms-transform: translateX(10%) translateY(-62%);
  transform: translateX(10%) translateY(-62%);
}
.db-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.db-btn-left {
  width: 24rem;
  padding: 2.5rem 4rem;
  margin-right: 2rem;
}
.db-btn-right {
  padding: 2.7rem 0;
  width: 20rem;
  text-align: center;
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.3;
  border: 1px solid #d2d2d3;
  color: #1d1d25;
  border-radius: 1rem;
}
.db-btn-right:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
}
.section-3 h2 {
  color: #000;
}
.grey {
  color: #949597;
}
.nav-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.nav-s3 li {
  padding-right: 2.8rem;
}
.nav-s3 li a {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
}
.nav-s3 li a:hover {
  color: #000;
}
.nav-s3 li:first-child {
  padding-left: 0;
}
.nav-s3 li:last-child {
  padding-right: 0;
}
.menu-s3 {
  margin-top: 9rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#cb3358), to(#fe9849));
  background: -webkit-linear-gradient(top, #cb3358 0%, #fe9849 100%);
  background: -o-linear-gradient(top, #cb3358 0%, #fe9849 100%);
  background: linear-gradient(to bottom, #cb3358 0%, #fe9849 100%);
  padding: 1.5rem;
}
.menu-s3-wrap {
  padding: 3.5rem;
  padding-right: 2rem;
  background-color: #fff;
  color: #000;
  position: relative;
}
.menu-s3-wrap img {
  width: 100%;
  height: 50rem;
  margin: 0;
  padding: 0;
}
.menu-s3-wrap h2 {
  font-size: 4.2rem;
  margin-top: 0;
}
.menu-s3-wrap h2 span {
  font-size: 13rem;
  font-family: 'ProximaNovaExtrabld', sans-serif;
  line-height: 1;
}
.menu-s3-wrap h3 {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 3.8rem;
  margin: 1.5rem 0 2.5rem;
}
.menu-s3-wrap p {
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 1.7rem;
  line-height: 1.3;
  margin-bottom: 3rem;
}
.menu-s3-wrap a {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4rem;
  padding: 1.5rem 4rem;
}
.menu-s3-wrap-arround {
  top: 0;
  right: 0;
  position: absolute;
  color: #ab2a2a;
  background: -webkit-gradient(linear, left top, left bottom, from(#c8fb00), to(#a3e738));
  background: -webkit-linear-gradient(top, #c8fb00 0%, #a3e738 100%);
  background: -o-linear-gradient(top, #c8fb00 0%, #a3e738 100%);
  background: linear-gradient(to bottom, #c8fb00 0%, #a3e738 100%);
  z-index: 3;
  border-radius: 50%;
  width: 24.8rem;
  height: 24.8rem;
  text-align: center;
  padding: 5rem;
  -webkit-transform: translateX(33%) translateY(-40%);
  -ms-transform: translateX(33%) translateY(-40%);
  transform: translateX(33%) translateY(-40%);
}
.menu-s3-wrap-arround-text {
  text-align: center;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  -webkit-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotate(-14deg);
}
.act {
  border-bottom: 1px dashed #000;
  color: black;
}
.section-4-h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.section-4-poloska {
  background: #ffaf69;
  height: 0.7rem;
  margin: 0;
}
.section-4-top-p {
  text-align: center;
  font-size: 2rem;
  font-family: 'ProximaNovaRegular', sans-serif;
}
.section-4-banner {
  position: relative;
}
.section-4-banner-row1 {
  height: 35rem;
}
.section-4-banner-row2 {
  margin-top: 2rem;
  height: 56rem;
}
.section-4-banner-row3 {
  margin-top: 2rem;
  height: 23.3rem;
}
.section-4-banner-1 {
  background: url("../img/baner1.jpg") center center no-repeat;
  background-size: cover;
}
.section-4-banner-2 {
  background: url("../img/baner2.jpg") center center no-repeat;
  background-size: cover;
}
.section-4-banner-3 {
  background: url("../img/baner3.jpg") center center no-repeat;
  background-size: cover;
}
.section-4-banner-4 {
  background: url("../img/baner4.jpg") center center no-repeat;
  background-size: cover;
}
.section-4-banner-5 {
  background: url("../img/baner5.jpg") center center no-repeat;
  background-size: cover;
}
.section-4-banner-6 {
  background: url("../img/baner6.jpg") center center no-repeat;
  background-size: cover;
}
.section-4-banner-7 {
  background: url("../img/baner7.jpg") center center no-repeat;
  background-size: cover;
}
.section-4-banner-8 {
  background: url("../img/baner8.jpg") center center no-repeat;
  background-size: cover;
}
.section-4-banner-9 {
  background: url("../img/baner9.jpg") center center no-repeat;
  background-size: cover;
}
.section-banner-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  margin: 2rem;
  padding: 2rem;
  background-color: rgba(75, 73, 84, 0.7);
  border-radius: 1rem;
}
.section-banner-text p {
  margin: 0;
  font-size: 2.2rem;
  font-family: 'ProximaNovaExtrabld', sans-serif;
}
.section-banner-text small {
  font-size: 1.1rem;
  font-family: 'ProximaNovaRegular', sans-serif;
  text-transform: uppercase;
  margin-top: 1rem;
}
.section-banner-active:hover {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.pup-up {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  max-width: 93.5rem;
  margin: 2rem auto;
}
.pup-up h2 {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 3.8rem;
  text-align: left;
  line-height: 1;
}
.pup-up-slider-big {
  position: relative;
}
.pup-up-slider-little {
  margin-top: 1rem;
}
.pup-up-slider-little img {
  margin-right: 0.5rem;
}
.pup-up-left {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 2;
}
.pup-up-right {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 2;
}
.pup-up-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#cb3358), to(#fe9849));
  background: -webkit-linear-gradient(top, #cb3358 0%, #fe9849 100%);
  background: -o-linear-gradient(top, #cb3358 0%, #fe9849 100%);
  background: linear-gradient(to bottom, #cb3358 0%, #fe9849 100%);
  padding: 0.5rem;
}
.pup-up-form {
  text-align: center;
}
.pup-up-form-text {
  text-align: center;
  background-color: #fff;
  padding: 2rem;
}
.pup-up-form-text h3 {
  margin: 0;
  font-size: 2.6rem;
  margin-bottom: 1.6rem;
}
.pup-up-form-text p {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 2rem;
  font-family: 'ProximaNovaRegular', sans-serif;
}
.pup-up-form-name {
  display: block;
}
.pup-up-form-phone {
  display: block;
}
.pup-up-form-confirm {
  display: block;
}
.pup-up-footer {
  margin-top: 2rem;
  font-size: 1.6rem;
}
.pup-up-footer p {
  margin: 0;
  margin-bottom: 1rem;
}
.pup-up-footer p strong {
  font-weight: 600px;
  text-transform: uppercase;
  font-family: 'ProximaNovaBold', sans-serif;
}
.pup-up-footer-left ul {
  padding-left: 2rem;
  list-style: disc;
  font-weight: 400;
}
.pup-up-footer-left ul li {
  font-family: 'ProximaNovaRegular', sans-serif;
  margin-bottom: 0.5rem;
}
.pup-up-footer-right {
  margin-left: 2rem;
}
.pup-up-footer-right ol {
  padding: 0;
  margin: 0;
  padding-left: 1em;
  font-weight: 400;
}
.pup-up-footer-right ol li {
  font-family: 'ProximaNovaRegular', sans-serif;
  margin-bottom: 0.5rem;
}
.pup-up-footer-right ol li span {
  font-weight: 600px;
  font-family: 'ProximaNovaBold', sans-serif;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
  background: #e8e8e8;
  border: none;
  padding: 0 1.6rem;
  font-size: 1.6rem;
  height: 4.5rem;
  margin-bottom: 1.2rem;
  width: 100%;
}
input[type="submit"] {
  background: -webkit-gradient(linear, left top, left bottom, from(#fe9849), to(#cb3358));
  background: -webkit-linear-gradient(top, #fe9849 0%, #cb3358 100%);
  background: -o-linear-gradient(top, #fe9849 0%, #cb3358 100%);
  background: linear-gradient(to bottom, #fe9849 0%, #cb3358 100%);
  border: 1px solid #ff9f4a;
  padding: 1.9rem 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'ProximaNovaBold', sans-serif;
  text-shadow: 0px 1px 1px #cf6726;
  letter-spacing: 1px;
  line-height: 1.3;
  text-transform: uppercase;
}
.btn-submit {
  background: -webkit-gradient(linear, left top, left bottom, from(#fe9849), to(#cb3358));
  background: -webkit-linear-gradient(top, #fe9849 0%, #cb3358 100%);
  background: -o-linear-gradient(top, #fe9849 0%, #cb3358 100%);
  background: linear-gradient(to bottom, #fe9849 0%, #cb3358 100%);
  border: 1px solid #ff9f4a;
  padding: 1.9rem 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'ProximaNovaBold', sans-serif;
  text-shadow: 0px 1px 1px #cf6726;
  letter-spacing: 1px;
  line-height: 1.3;
  text-transform: uppercase;
  border-radius: 1rem;
  text-decoration: none;
}
textarea {
  background: #e8e8e8;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  height: 45px;
  margin-bottom: 10px;
  width: 100%;
  font-family: 'Arial';
  min-height: 130px;
  resize: none;
}
.card-left-1 {
  background: url("../img/card/card1.jpg") center center no-repeat;
  background-size: cover;
}
.card-left-2 {
  background: url("../img/card/card2.jpg") center center no-repeat;
  background-size: cover;
}
.card-left-3 {
  background: url("../img/card/card3.jpg") center center no-repeat;
  background-size: cover;
}
.card {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.card-left {
  margin: 0;
  padding: 0;
  height: 45rem;
  position: relative;
}
.card-left p {
  padding: 0;
  margin: 0;
  padding: 2rem;
  color: #fff;
  line-height: 1.5;
  background-color: rgba(26, 40, 73, 0.7);
  font-family: 'ProximaNovaBold', sans-serif;
  position: absolute;
  font-size: 1.6rem;
  width: 80%;
  bottom: 3rem;
  left: 3rem;
}
.card-right {
  text-align: left;
}
.card-right h3 {
  margin: 0;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 2.6rem;
}
.card-right p {
  margin: 0;
  margin-top: 2rem;
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: 'ProximaNovaRegular', sans-serif;
}
.card-right p span {
  color: #ff9f4a;
}
.card-right-wrap {
  margin-top: 4rem;
}
.card-right-wrap a {
  text-align: center;
  background-color: #ff6738;
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 2rem 4rem;
  font-family: 'ProximaNovaExtrabld', sans-serif;
  letter-spacing: 1px;
}
.section-6 {
  height: 20rem;
  background: url("../img/card/cardbg.png") center center no-repeat;
  background-size: cover;
  margin-bottom: 3rem	;
  border-top: 1rem solid #ff9f4a;
}
.section-6 h2 {
  text-align: center;
  color: #fff;
  font-family: 'ProximaNovaExtrabld', sans-serif;
}
.section-6-poloska {
  width: 11.7rem;
  height: 2px;
  background-color: #ff9f4a;
  margin-bottom: 1rem;
  display: block;
}
.section-6-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'ProximaNovaRegular', sans-serif;
  color: #949597;
  margin-top: 3rem;
  z-index: 50;
}
.section-6-circle {
  background: #fff;
  padding: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  max-width: 1rem;
  max-height: 1rem;
  border: 5px solid #fff;
  margin-left: 12rem;
  z-index: 50;
}
.section-6-circle-number {
  font-size: 2rem;
  z-index: 50;
}
.arr-active {
  border: 5px solid #ff8417;
  color: #ff8417;
}
.section-6-circle-first {
  margin-left: 0;
}
.section-6-circle-last {
  margin-right: 0;
}
.circle-poloska {
  height: 0.8rem;
  background-color: #fff;
  width: 55%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 0;
}
.calc {
  padding: 2rem;
  margin-top: 2rem;
  display: block;
}
.calc-left {
  padding: 1rem;
  width: 100%;
}
.calc-left h2 {
  margin: 0;
  color: #908f8f;
  margin-bottom: 2rem;
}
.calc-left p {
  font-size: 1.7rem;
  color: #fff;
  background-color: #ef7d22;
  padding: 1rem;
  font-family: 'ProximaNovaBold', sans-serif;
  margin-bottom: 2rem;
}
.calc-left label {
  font-size: 1.8rem;
  font-family: 'ProximaNovaBold', sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  display: block;
}
.calc-right {
  border: 5px solid #ff9f4a;
  padding: 2rem;
  text-align: center;
}
.calc-right-wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.calc-right-wrap-1 {
  margin-bottom: 2rem;
}
.calc-right-wrap-2 {
  margin-top: 3rem;
}
.calc-right p {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 8rem;
  text-transform: uppercase;
  background: -webkit-linear-gradient(bottom left, #fe9849 0%, #cb3358 100%);
  background: -o-linear-gradient(bottom left, #fe9849 0%, #cb3358 100%);
  background: -webkit-gradient(linear, left bottom, right top, from(#fe9849), to(#cb3358));
  background: linear-gradient(to top right, #fe9849 0%, #cb3358 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin: 0 auto;
  font-size: 5.5rem;
}
.calc-right h4 {
  margin: 0;
}
.calc-right h3 {
  margin: 0;
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 1.8rem;
  line-height: 1.12;
  text-transform: uppercase;
}
.calc-btn {
  margin-top: 2rem;
}
.calc-btn-left {
  color: #949597;
  text-align: center;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem 8rem;
  border-radius: 1rem;
  -webkit-box-shadow: -1px 1px 6px 0px #000000;
  box-shadow: -1px 1px 6px 0px #000000;
  font-family: 'ProximaNovaBold', sans-serif;
  margin-left: 2rem;
}
.calc-btn-left:hover {
  color: #4d4d4d;
  background-color: #ff9f4a;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.calc-btn-right {
  color: #fff;
  text-align: center;
  background-color: #7f7f7f;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem 8rem;
  border-radius: 1rem;
  font-family: 'ProximaNovaBold', sans-serif;
  margin-right: 2rem;
}
.calc-btn-right:hover {
  color: #4d4d4d;
  background-color: #ff9f4a;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.calc-btn-center {
  margin: 0;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
  background-color: #ff8417;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem 8rem;
  border-radius: 1rem;
  font-family: 'ProximaNovaBold', sans-serif;
}
.calc-btn-center:hover {
  color: #4d4d4d;
  background-color: #ff9f4a;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.calc-left-row-1 {
  margin-bottom: 2rem;
}
.calc-left-row-2 {
  margin-bottom: 2rem;
}
.calc-left-row-3 {
  margin-bottom: 2rem;
}
.calc-card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}
.checkbox,
.radio {
  display: none;
}
.checkbox-custom,
.radio-custom {
  width: 2rem;
  height: 2rem;
  border: 2px solid #b3b3b3;
  border-radius: 3px;
  position: relative;
}
.checkbox-custom,
.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #ff8417;
  border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
  border-radius: 50%;
}
.label {
  font-size: 1.6rem;
  margin-left: 1rem;
}
#calc-card-2,
#calc-card-3,
#calc-card-4,
#calc-card-5,
#calc-card-6,
#calc-card-7 {
  display: none;
}
.calc-card-6-label {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.calc-card-6-label label {
  font-size: 1.8rem;
  text-align: left;
  font-family: 'ProximaNovaRegular', sans-serif;
  color: #48494a;
  display: block;
  margin-bottom: 1rem;
}
.calc-card-6-label input {
  width: 11rem;
}
.calc-card-6-label-wrap {
  margin: 0;
  margin-left: 2rem;
  display: block;
}
.calc-card-6-label-wrap:first-child {
  margin-left: 0;
}
.calc-card-vivod {
  margin-bottom: 0;
}
.calc-card-vivod p {
  color: #fff;
  margin-bottom: 0;
  font-size: 1.7rem;
  font-family: 'ProximaNovaBold', sans-serif;
}
.calc-card-vivod span {
  color: #4d4d4d;
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 1.7rem;
}
.section-7 {
  text-align: center;
}
.section-7 h2 {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 5.5rem;
}
.section-7 h3 {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
  font-weight: 400px;
  line-height: normal;
  color: #212121;
  margin: 0;
  margin-top: 2rem;
}
.section-7 p {
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  line-height: 1.4;
  font-size: 1.6rem;
  font-family: 'ProximaNovaRegular', sans-serif;
}
.section-7 img {
  margin: 0;
  display: block;
  margin: 0 auto;
}
.otziv {
  margin-bottom: 2rem;
  padding: 1rem;
}
.confed {
  margin-top: 2rem;
}
.confed a {
  color: #6D6D6D;
  text-decoration: underline;
}
.confed a:hover {
  color: #4764AA;
}
.confed small {
  font-size: 1.3rem;
  text-align: center;
  font-family: 'ProximaNovaRegular', sans-serif;
}
.klining {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
.klining-wrap {
  margin-top: 5rem;
  background: -webkit-linear-gradient(#cb3358 0%, #fe9849 100%);
  background: -o-linear-gradient(#cb3358 0%, #fe9849 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#cb3358), to(#fe9849));
  background: linear-gradient(#cb3358 0%, #fe9849 100%);
  padding: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.klining-form {
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.klining-left {
  text-align: center;
  padding: 0;
  margin: 0;
}
.klining-left h3 {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  margin-top: 0;
}
.klining-right {
  padding: 0;
  margin: 0;
}
.klining-right img {
  width: 100%;
  height: 40rem;
  margin: 0;
  padding: 0;
}
.klining-submit {
  border-radius: 1rem;
}
.polit {
  background-color: #fff;
  border-radius: 2rem;
  padding: 3rem;
  max-width: 50rem;
  margin: 2rem auto;
  position: relative;
  z-index: 9999999999999999999;
}
.polit h2 {
  text-align: center;
  margin: 0;
  color: #212121;
  font-size: 2.5rem;
}
.polit h3 {
  font-weight: 600;
  font-size: 1.6rem;
}
.polit p {
  font-size: 1.6rem;
  color: #000;
  font-weight: 400;
  margin-bottom: 1.4rem;
}
.section-9 {
  background-color: #f7f7f7;
}
.section-9-btn {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.questions h2 {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 3.8rem;
  margin-bottom: 2rem;
  text-align: center;
  margin: 0;
  margin-bottom: 5rem;
}
.questions h3 {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #212121;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin: 0;
  margin: 1rem 0;
}
.questions p {
  line-height: 1.4;
  font-size: 1.6rem;
  font-family: 'ProximaNovaRegular', sans-serif;
  margin: 0;
  margin-bottom: 4rem;
}
.questions-mobile {
  width: 100%;
}
.questions-card {
  margin-left: 0.5rem;
  margin-top: 1rem;
  padding: 2rem 1.5rem;
  border-radius: 2rem;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.18);
  display: inline-block;
  min-height: 30rem;
}
.questions-card h3 {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #212121;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
  margin: 1rem 0;
}
.questions-card p {
  line-height: 1.4;
  font-size: 1.6rem;
  font-family: 'ProximaNovaRegular', sans-serif;
  margin: 0;
}
.arr-active-2 {
  border: 2px solid black;
  color: #000;
  font-size: 1rem;
  margin: 0;
  text-align: left;
  width: 2rem;
  height: 2rem;
}
.section-9-circle-number {
  font-size: 3rem;
  z-index: 50;
  font-weight: 900;
  font-family: 'ProximaNovaBold', sans-serif;
}
.section-9 {
  padding: 2rem;
  padding-top: 5rem;
  margin-top: 5rem;
}
.section-9-btn {
  margin-bottom: 3rem;
  color: #fff;
  text-transform: uppercase;
}
.slick-dots li:hover,
.slick-dots li.slick-active {
  background: #fda24e;
}
.slick-dots li {
  background: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 10px;
  width: 8px;
  height: 8px;
  display: inline-block;
  border: 1px solid #fa9d5b;
  margin: 0px 3px;
  text-align: center;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}
.slick-dots li button:before {
  content: '•';
  opacity: .25;
  color: #fbfbfb;
}
.obratka h2 {
  font-size: 2.2rem;
  font-family: 'ProximaNovaExtrabld', sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}
.obratka-wrap {
  text-align: left;
  padding: 3rem;
  max-width: 45rem;
  margin: auto;
  position: relative;
  background-color: #fff;
  border-radius: 2rem;
}
.obratka-form {
  width: 30rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
.hidden {
  display: none;
}
footer {
  padding: 2rem;
  color: black;
  background-color: #f7f7f7;
  margin-bottom: 2rem;
}
.footer-circle-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
.call p {
  font-family: 'ProximaNovaExtrabld', sans-serif;
  font-size: 2.4rem;
  margin: 0;
  text-align: right;
}
.mail p {
  font-size: 1.5rem;
  margin: 0;
  text-align: right;
}
.footer-logo-img {
  float: left;
}
.footer-logo-cont {
  font-family: 'ProximaNovaBold', sans-serif;
  line-height: 1.3;
  float: right;
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 1px solid #ff9f4a;
}
.footer-logo-cont p {
  margin: 0;
  font-size: 3rem;
}
.footer-logo-cont p span {
  text-transform: uppercase;
}
.footer-logo-cont small {
  font-size: 1.5rem;
}
.scroll-menu-h2 {
  font-size: 2rem;
  margin: 0;
  color: white;
  text-align: center;
  display: block;
  width: 100%;
}
.scroll-menu-top-btn {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  margin-top: 2rem;
  z-index: 99999999999;
  position: fixed;
}
.scroll-menu-top-nav {
  z-index: 99999999999;
  position: fixed;
  display: none;
  list-style: none;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 6rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: 2px 1px 11px -1px #000000;
  box-shadow: 2px 1px 11px -1px #000000;
}
.scroll-menu-top-nav-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.scroll-menu-top-nav li {
  text-align: center;
}
.scroll-menu-top-nav li a {
  color: black;
  font-family: 'ProximaNovaBold', sans-serif;
  line-height: 2;
  font-size: 1.8rem;
}
.scroll-menu-top-btn {
  display: none;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 1.7rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}
.icon-menu {
  color: #ff9f4a;
}
.odnoklassniki-circle:hover {
  background-color: #ff9f4a;
  padding: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  border: 1.5px solid #ff9f4a;
  margin-left: 2rem;
  z-index: 50;
}
.odnoklassniki-circle:hover a i {
  color: white;
}
.instagram-circle:hover {
  background-color: #a93baa;
  padding: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  border: 1.5px solid #a93baa;
  margin-left: 2rem;
  z-index: 50;
}
.instagram-circle:hover a i {
  color: white;
}
.social {
  text-align: center;
}
.social-wrap a {
  display: inline-block;
}
.social-wrap a i {
  font-size: 2rem;
  color: #a4a7ad;
}
.social-circle {
  padding: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  border: 1.5px solid #a4a7ad;
  margin-left: 2rem;
  z-index: 50;
}
.social-icon {
  font-size: 2rem;
  z-index: 50;
  color: #a4a7ad;
}
.social-circle-wrap {
  display: inline-block;
}
@media (max-width: 575.98px) {
  html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  h1 {
    font-size: 3.4rem;
    margin: 1rem 0;
  }
  .scroll-menu-top-btn {
    display: block;
  }
  #top-menu-2 {
    display: none;
  }
  .main {
    padding-top: 2rem;
  }
  .main-top-right {
    margin: 1rem auto;
  }
  .main-nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 2;
  }
  .main-nav-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-2-garan {
    display: none;
  }
  .questions-hidden {
    display: none;
  }
  .section-9-btn {
    margin-top: 4rem;
  }
  footer {
    text-align: center;
  }
  .footer-logo-img {
    float: none;
  }
  .footer-logo-cont {
    border: none;
    float: none;
    margin: 0;
    padding: 0;
  }
  .call p {
    text-align: center;
  }
  .mail p {
    text-align: center;
  }
  .main-top-logo-img {
    float: none;
    text-align: center;
  }
  .main-top-logo-cont {
    float: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .nav-s3 {
    display: block;
    text-align: left;
  }
  .nav-s3 li {
    padding: 0;
    text-align: center;
  }
  .nav-s3 li a {
    font-size: 3.8rem;
  }
  .menu-s3-wrap-arround {
    -webkit-transform: translateX(9%) translateY(-10%);
    -ms-transform: translateX(9%) translateY(-10%);
    transform: translateX(9%) translateY(-10%);
  }
  .menu-s3-wrap a {
    margin-bottom: 1rem;
  }
  .menu-s3-wrap h2 span {
    font-size: 7rem;
  }
  .section-4-banner {
    margin-bottom: 1rem;
    width: 100%;
  }
  .pup-up-wrap {
    margin-top: 1rem;
  }
  .card-right h3 {
    margin-top: 1rem;
  }
  .section-6 {
    width: 100%;
  }
  .section-6 h2 {
    margin-bottom: 0;
  }
  .section-6-poloska {
    margin: 0 auto;
  }
  .klining-left h3 {
    font-size: 3rem;
  }
  .questions-card {
    min-height: 20rem;
  }
  .section-9-btn {
    margin: 0 auto;
    margin-top: 4rem;
  }
  .scroll-menu-btn {
    display: none;
  }
  .scroll-menu {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .btn-scroll {
    display: block;
  }
  .klining-right {
    display: none;
  }
  .calc-card-6-label {
    text-align: center;
  }
  .section-6 h2 {
    font-size: 3.5rem;
    margin: 0;
  }
  .section-4-h2 {
    font-size: 3rem;
  }
  .card-right-wrap a {
    font-size: 1.5rem;
    padding: 2rem 3rem;
  }
  .menu-s3-wrap-arround {
    display: none;
  }
  .calc-right-wrap-2 {
    display: none;
  }
  .mobile-hidden {
    display: none;
  }
  .slick-btn-next {
    right: -2rem;
  }
  .slick-btn-prev {
    left: -2rem;
  }
  .slider-block {
    padding: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    -webkit-box-shadow: 2px 1px 11px -1px #000000;
    box-shadow: 2px 1px 11px -1px #000000;
    margin: 1rem;
    width: 100%;
    min-height: 30rem;
  }
  .slider-block img {
    width: 100%;
    border-radius: 1rem;
  }
  .slider-block h4 {
    margin: 1rem 0;
  }
  .slider-block strong {
    font-family: 'ProximaNovaExtrabld', sans-serif;
    font-size: 1.5rem;
    color: #ff9f4a;
  }
  .slider-block span {
    color: #AFAFAF;
    position: relative;
    font-size: 1.6rem;
    margin-left: 1rem;
  }
  .slider-block span:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
  }
  .slider-block p {
    font-size: 15px;
    line-height: 1.5;
  }
  .db-btn-left {
    width: 100%;
    display: block;
    padding: 1.5rem 2rem;
    margin: 1 auto;
  }
  .db-btn-right {
    width: 100%;
    display: block;
    padding: 1.5rem 2rem;
    margin: 1 auto;
    margin-top: 2rem;
  }
  .main-top-logo {
    margin: auto;
    text-align: center;
  }
  .footer-logo-img {
    float: none;
    display: inline-block;
  }
  .footer-logo-cont {
    float: none;
    margin-left: 1rem;
    width: auto;
    display: inline-block;
  }
  .footer-logo-cont p {
    display: block;
    text-align: center;
  }
  .social {
    margin-top: 2rem;
  }
  .footer-info {
    text-align: center;
    margin: auto;
  }
  .footer-info p {
    display: inline-block;
  }
  .call {
    margin-top: 2rem;
  }
  .mail {
    margin-top: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  h1 {
    font-size: 3.4rem;
    margin: 1rem 0;
  }
  .scroll-menu-top-btn {
    display: block;
  }
  .main {
    padding-top: 2rem;
  }
  .main-nav {
    display: block;
    text-align: center;
  }
  .main-nav li {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .main-nav li:last-child {
    margin-bottom: 0;
  }
  .main-top-logo-cont {
    float: none;
    margin-left: 10rem;
  }
  .main-top-right {
    margin: 1rem 0;
  }
  .main-top-right-wrap {
    margin: 0 12rem;
  }
  .slider-block {
    padding: 2rem;
    height: 100%;
  }
  .slider-block-white {
    padding: 3rem;
    border-radius: 2rem;
  }
  .section-2-garan {
    display: none;
  }
  .sec-3-card-h2 {
    text-align: left;
  }
  .menu-s3-wrap h2 span {
    font-size: 11rem;
  }
  .section-3-h2 {
    text-align: center;
  }
  .nav-s3 {
    display: block;
    text-align: left;
  }
  .nav-s3 li {
    padding: 0;
    text-align: center;
  }
  .nav-s3 li a {
    font-size: 3.8rem;
  }
  .menu-s3-wrap img {
    margin-top: 2rem;
  }
  .menu-s3-wrap-arround {
    -webkit-transform: translateX(12%) translateY(-35%);
    -ms-transform: translateX(12%) translateY(-35%);
    transform: translateX(12%) translateY(-35%);
  }
  .section-6 h2 {
    margin: 1rem;
  }
  .section-6-poloska {
    display: none;
  }
  .section-6-circles {
    margin-top: 1rem;
  }
  .section-6-circle {
    margin-left: 7rem;
  }
  .section-6-circle-first {
    margin-left: 0;
  }
  .circle-poloska {
    width: 80%;
  }
  .section-4-banner {
    margin-bottom: 1rem;
  }
  .pup-up-wrap {
    margin-top: 1rem;
  }
  .pup-up-footer-right {
    margin-left: 0;
  }
  .section-6-poloska {
    margin: 1rem auto;
  }
  .section-6 h2 {
    margin-bottom: 0;
  }
  .calc-btn-center,
  .calc-btn-left,
  .calc-btn-right {
    font-size: 1.6rem;
  }
  .calc-right {
    margin-top: 2rem;
  }
  .klining-left h3 {
    font-size: 3rem;
  }
  .scroll-menu-btn {
    margin-bottom: 2rem;
  }
  .section-6-circle-wrap {
    text-align: left;
  }
  .section-9-btn {
    margin-top: 4rem;
  }
  .questions h2 {
    margin-bottom: 1rem;
  }
  .questions-hidden {
    display: none;
  }
  .call p {
    text-align: center;
  }
  .mail p {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .scroll-menu {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    z-index: -3;
  }
  .scroll-menu-btn {
    display: none;
  }
  #top-menu {
    display: none;
  }
  .main-top-logo-img {
    float: none;
    text-align: center;
  }
  .main-top-logo-cont {
    float: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .scroll-menu-h2 {
    display: none;
  }
  .mobile-hidden {
    display: none;
  }
  .slick-btn-next {
    right: -3rem;
  }
  .slick-btn-prev {
    left: -3rem;
  }
  .slider-block {
    padding: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    -webkit-box-shadow: 2px 1px 11px -1px #000000;
    box-shadow: 2px 1px 11px -1px #000000;
    margin: 1rem;
    width: 100%;
    min-height: 30rem;
  }
  .slider-block img {
    width: 100%;
    border-radius: 1rem;
  }
  .slider-block h4 {
    margin: 1rem 0;
  }
  .slider-block strong {
    font-family: 'ProximaNovaExtrabld', sans-serif;
    font-size: 1.5rem;
    color: #ff9f4a;
  }
  .slider-block span {
    color: #AFAFAF;
    position: relative;
    font-size: 1.6rem;
    margin-left: 1rem;
  }
  .slider-block span:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
  }
  .slider-block p {
    font-size: 15px;
    line-height: 1.5;
  }
  .db-btn-left {
    width: 100%;
    display: block;
    padding: 1.5rem 2rem;
    margin: 1 auto;
  }
  .db-btn-right {
    width: 100%;
    display: block;
    padding: 1.5rem 2rem;
    margin: 1 auto;
    margin-top: 2rem;
  }
  .klining-right {
    margin-top: 2rem;
  }
  .main-top-logo {
    margin: auto;
    text-align: center;
  }
  .footer-logo-img {
    float: none;
    display: inline-block;
  }
  .footer-logo-cont {
    float: none;
    margin-left: 1rem;
    width: auto;
    display: inline-block;
  }
  .footer-logo-cont p {
    display: block;
    text-align: center;
  }
  .social {
    margin-top: 2rem;
  }
  .footer-info {
    text-align: center;
    margin: auto;
  }
  .footer-info p {
    display: inline-block;
  }
  .call {
    margin-top: 2rem;
  }
  .mail {
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 4.4rem;
  }
  .menu {
    margin-top: 2rem;
  }
  .section-2-garan {
    -webkit-transform: translateX(-10%) translateY(-32%);
    -ms-transform: translateX(-10%) translateY(-32%);
    transform: translateX(-10%) translateY(-32%);
  }
  .menu-s3-wrap-arround {
    display: none;
  }
  .menu-s3-wrap h2 {
    margin-bottom: 0;
  }
  .menu-s3-wrap h2 span {
    font-size: 10rem;
  }
  .menu-s3-wrap p {
    margin-bottom: 1rem;
  }
  .menu-s3-wrap a {
    margin-top: 1rem;
  }
  .circle-poloska {
    width: 90%;
  }
  .card-right p {
    font-size: 1.8rem;
  }
  .card-right-wrap a {
    font-size: 2rem;
    letter-spacing: 0;
    padding: 1.5rem 0.8rem;
    display: block;
    width: 100%;
  }
  .section-6 h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .calc-card-6-label label {
    text-align: center;
  }
  .calc-card-6-label {
    display: block;
  }
  .calc-card-6-label-wrap {
    margin-left: 0;
    text-align: center;
  }
  .calc-btn-left {
    margin: 1rem auto;
  }
  .calc-btn-right {
    margin: 0 auto;
  }
  .calc-btn-center {
    margin: 1rem auto;
  }
  .calc-right p {
    font-size: 7.5rem;
  }
  .scroll-menu-btn {
    margin-bottom: 2rem;
  }
  .klining-left h3 {
    font-size: 3rem;
  }
  .questions-hidden {
    display: none;
  }
  .questions-mobile {
    margin-bottom: 4rem;
  }
  .scroll-menu-h2 {
    display: none;
  }
  .mobile-hidden-off {
    display: none;
  }
  .scroll-menu-top-btn {
    display: none;
  }
  .scroll-menu-btn {
    display: none;
  }
  .main-top-logo {
    margin: auto;
    text-align: center;
  }
  .footer-logo-img {
    float: none;
    display: inline-block;
  }
  .footer-logo-cont {
    float: none;
    margin-left: 1rem;
    width: auto;
    display: inline-block;
  }
  .footer-logo-cont p {
    display: block;
    text-align: center;
  }
  .social {
    margin-top: 2rem;
  }
  .footer-info {
    text-align: center;
    margin: auto;
  }
  .footer-info p {
    display: inline-block;
  }
  .call {
    margin-top: 2rem;
  }
  .mail {
    margin-top: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 5.4rem;
  }
  .section-2-garan {
    -webkit-transform: translateX(80%) translateY(-32%);
    -ms-transform: translateX(80%) translateY(-32%);
    transform: translateX(80%) translateY(-32%);
  }
  .menu-s3-wrap-arround {
    -webkit-transform: translateX(10%) translateY(-40%);
    -ms-transform: translateX(10%) translateY(-40%);
    transform: translateX(10%) translateY(-40%);
  }
  .menu-s3-wrap img {
    height: 54.5rem;
  }
  .section-6 h2 {
    margin-bottom: 1rem;
  }
  .circle-poloska {
    width: 72%;
  }
  .klining-right img {
    height: 50.4rem;
  }
  .calc-btn-left {
    margin: 1rem auto;
  }
  .calc-btn-right {
    margin: 0 auto;
  }
  .calc-btn-center {
    margin: 1rem auto;
  }
  .questions-mobile {
    display: none;
  }
  .scroll-menu-h2 {
    display: none;
  }
  .mobile-hidden-off {
    display: none;
  }
  .scroll-menu-top-btn {
    display: none;
  }
}
@media (min-width: 1200px) {
  .questions-mobile {
    display: none;
  }
  .scroll-menu-h2 {
    display: none;
  }
  .mobile-hidden-off {
    display: none;
  }
  .scroll-menu-top-btn {
    display: none;
  }
}
